[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
ValidationProject/
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.pdb
*.opendb
*.VC.db
*.unitypackage
TestResults*.xml
Assets/Resources/PerformanceTestRun*.json*
.DS_Store
Thumbs.db
